<nav>
	<div class="nav-wrapper">
	  <div class="img">
		<a href="/" class="brand-logo">
			<img class="brand-logo" src="/public/img/logo.PNG"></a>
	  </div>
	  <div class="menu">
			<a href="/">Главная</a>
	    	<a href="/users">Пользователи</a>
			{{#if is_auth}}
				<a href="/posts/add">Добавить пост</a>
	    		<a href="/users/{{user_id}}">Профиль</a>
				<a href="/auth/signout">Выйти</a>
			{{else}}
			<a href="/auth/signin">Войти</a>
			{{/if}}
		  
	  </div>
	</div>
</nav>