<nav>
	<div class="nav-wrapper">
	  <div class="img">
		<a href="/" class="brand-logo">
			<img src="/public/img/logo.PNG">
		</a>
	  </div>
	  <div class="menu">
		  <ul id="menu">
	    	<li class="active"><a href="/">Главная</a></li>

	    	<li class="active"><a href="/user">Пользователи</a></li>

	    	<li class="active"><a href="/auth/signin">Войти</a></li>
				
		  </ul>
	  </div>
	</div>
</nav>