{{#ifCond code "==" 404}}
	<h1>{{code}} ошибка</h1>
	<p style="font-weight:bold;">Страница не найдена</p>
	<p>Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она устарела, была удалена или был введен неверный адрес в адресной строке.</p>
	<p>Попробуйте вернуться на<a style="color:blue" href="/"> главную страницу</a></p>
{{else}}
	<p style="font-weight:bold;">Ошибка сервера</p>
	<p>На сервере произошла непредвиденная ошибка. Пожалуйста, подождите, она в скоре будет испралена.</p>
	<p>Попробуйте вернуться на<a style="blue" href="/"> главную страницу</a></p>
{{/ifCond}}

