<div class="page error">
	{{#ifCond code "==" 404}}
		<h1>{{code}} ошибка</h1>
		<p class="name">Страница не найдена</p>
		<p>Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она устарела, была удалена или был введен неверный адрес в адресной строке.</p>
		<p>Попробуйте вернуться на<a href="/"> главную страницу</a></p>
	{{else}}
		<h1>{{code}} ошибка</h1>
		<p class="name">Ошибка сервера</p>
		<p>На сервере произошла непредвиденная ошибка. Пожалуйста, подождите, она в скоре будет испралена.</p>
		<p>Попробуйте вернуться на<a href="/"> главную страницу</a></p>
	{{/ifCond}}
</div>
