<h1>Home page</h1>

<div class="homepage">
 	<div class="title">
       {{title}}
    </div>
     
     <div class="comment">
       {{comment}}
    </div>
	<div class="comment-btn">
	   <button class="btn btn-primary">Комментировать</button>
	</div>

</div>