<h1>Home page</h1>

{{#if posts.length}}
{{#each posts}}
<div class="card" >
   <div class="post-img">
      <img src="{{posts.author.img}}">
   </div>
   <div class="name">
      {{name}}
   </div>
   <div class="brd">
      <p>{{content}}</p>
   </div>
   <div class="date">
      <p>{{moment date "DD.MM.YYYY - HH:mm"}}</p>
   </div>
   <div>
      <input>
   </div>
	<div class="comment-btn">
	   <button class="btn btn-primary">Комментировать</button>
   </div>
</div>
{{/each}}
{{/if}}
