<div class="postSearch">
	<div class="search">
		<form action="/posts/search" method="POST">
	      <input name="search" placeholder="Искать здесь..." type="search">
	      <button type="submit">Поиск</button>
	    </form>
	</div>
</div>
{{> posts}}

