<h1>Создать публикацию</h1>

<div class="page post_create">
	<form action="/posts/add" method="POST" class="add">
		<div class="head">
			<textarea name="name" type="text"></textarea><label>Введите заголовок поста</label>
		</div>
	 	<div class="input">
	        <textarea name="content" type="text" class="validate"></textarea><label>Введите содержимое поста</label>
		</div>
</div>
		<button type="submit" class="btn">Разместить пост</button>
	</form>
