<h1>Редактирование поста</h1>

<form action="/posts/{{post._id}}/edit" method="POST" class="profile-form">
 	<div class="input-name">
        <input id="name" name="name" type="text" value="{{post.name}}">
        <label for="title">Ваше имя</label>
    </div>

	<div class="input-content">
        <textarea id="content" name="content" type="text" >{{post.content}}</textarea>
        <label for="info">Информация про Вас</label>
    </div>

   
	<button type="submit" class="btn btn-primary">Редактировать пост</button>
</form>