<h1>Создать публикацию</h1>

<div class="page post_create">
	<form action="/posts/add" method="POST" class="add">
		<p>Введите заголовок поста </p>
		<input class="name" name="name" type="text">
		<div>
			<p>Выберите цвет текста</p>
			<input class="color-text" name="color_text" type="color">
			<p>Выберите цвет фона</p>
			<input class="color-fon" name="color_fon" type="color">
		</div>

		<p>Введите содержимое поста</p>
	    <textarea rows="10" name="content" type="text" class="validate"></textarea>

		<button type="submit" class="btn">Разместить пост</button>
	</form>
</div>
