<h1>Создать публикацию</h1>

<form action="/posts/add" method="POST" class="add">
	<div class="heading-post">
		<p>Введите заголовок поста</p>
		<input name="name" type="text">
	</div>
 	<div class="input-field">
        <textarea name="content" type="text" class="validate" ></textarea>
	</div>
	

	<button type="submit" class="btn btn-primary">Разместить пост</button>
</form>
