<h1>Создать публикацию</h1>

<div class="page post_create">
	{{#if error}}
       <p style="color:red; font-size: 40px">{{error}}</p>
    {{/if}}
	<form action="/posts/add" method="POST" class="add" enctype="multipart/form-data">
		<p>Введите заголовок поста </p>
		<input class="name" name="name" type="text">
		<div>
			<p>Выберите цвет фона</p>
			<input class="color" name="color" type="color">
		</div>

		<p>Введите содержимое поста</p>
	    <textarea rows="10" name="content" type="text" class="validate"></textarea>
		<div class="upload">
			<div>
				<p>Прикрепить картинку</p>
	  			<button class="my" type="button"><i class="fas fa-download"></i></button>
	  			<input class="hidden" id="file" type="file" name="img"/>
			</div>
				
			<div>
					<p>Открепить картинку</p>
				<button class="delete" type="button"><i class="fas fa-trash"></i></button>
				<input class="hidden" name="d2" id="delete"/>
			</div>
		</div>
		<button class="add" type="submit">Разместить пост</button>
	</form>

</div>

<script> 
	document.querySelector(".my").onclick = () => {
		document.querySelector("#file").click();
	};
	document.querySelector(".delete").onclick = () => {
		document.getElementById("delete").value = 1;
		
	};
</script>