<h1>Создать публикацию</h1>

<div class="page post_create">
	<form action="/posts/add" method="POST" class="add">
		<p>Введите заголовок поста</p>
		<input name="name" type="text">

		<p>Введите содержимое поста</p>
	    <textarea rows="10" name="content" type="text" class="validate"></textarea>

		<button type="submit" class="btn">Разместить пост</button>
	</form>
</div>
