<h1>Редактирование поста</h1>

<div class="page post-edit">
    <form action="/posts/{{post._id}}/edit" method="POST" class="profile-form">
     	<div class="name">
            <input id="name" name="name" type="text" value="{{post.name}}">
            <label for="title">Название поста</label>
        </div>

    	<div class="content">
            <textarea id="content" name="content" type="text" >{{post.content}}</textarea>
            <label for="info">Контент</label>
        </div>
</div>
    	<button type="submit" class="btn btn-primary">Редактировать пост</button>
    </form>