<div class="page edit-profile">
<h1>Редактирование профиля</h1>
    <form action="/profile/edit" method="POST" >
     	<div class="input name">
            <input id="name" name="name" type="text" value="{{user.name}}">
            <label for="title">Ваше имя</label>
        </div>

    	<div class="input info">
            <textarea id="info" name="info" type="text" >{{user.info}}</textarea>
            <label for="info">Информация про Вас</label>
        </div>

        <div class="input shadow-sm">
            <textarea id="email" name="email" type="text" >{{user.email}}</textarea>
            <label for="info">Ваш email</label>
        </div>

        <div class="input password">
            <input id="pasword" name="password" type="password" value="{{user.password}}">
            <label for="info">Ваш пароль</label>
        </div>

    	<button type="submit" class="btn btn-primary">Редактировать профиль</button>
    </form>
</div>