<div class="page profile">
	<div class="card">
		<img src="{{user.img}}" alt="Avatar" >
		{{#ifeq user._id user_id}}
		    <form class="container" method="POST" action="/profile/photo" enctype="multipart/form-data">
	  			<button class="my_btn" onclick="click()" type="button">Выбрать фото</button>
	 			<button type="submit"><i class="fas fa-download"></i></button>
	  			<input class="hidden" id="file" type="file" name="avatar"/>
			</form>
		{{/ifeq}}	
	</div>

	<div class="info">
		<h4><b>{{user.name}}</b></h4> 
		<p>{{user.info}}</p>
		{{#ifeq user._id user_id}}
			<p>
				<a href="/profile/edit">
					<button>Редактировать</button>
				</a>
			</p>
		{{/ifeq}}
	</div>
</div>

<div class="posts">
	{{> posts}}
</div>

<script> 
	document.querySelector(".my_btn").onclick = () => {
		document.querySelector("#file").click();
	};
</script>
