
<div class="page logPage">
    <h1>Страница авторизации</h1>
	<form action="/auth/signin" method="POST">
     	<div class="input">
            <i class="fas fa-user-tie"></i> <input name="email" type="email" >
        </div>
         
    	<div class="input">
            <i class="fas fa-unlock-alt"></i> <input name="password" type="password">
        </div>

    	<button class="btn btn-primary">Войти</button>
        
        {{!-- {{#if error}}
            <p>{{error}}</p>
        {{/if}} --}}
	</form>


    <p>Если у Вас еще нет аккаунта, то  <a href="/auth/signup">зарегистрируйтесь</a>
</div>