<h1>Страница авторизации</h1>


<h1>Регистрация</h1>

<div class="logpage">
	<form action="/auth/signin" method="POST">
     	<div class="input">
            <input name="email" type="email" >
            <label for="email">Веведите Ваше email</label>
        </div>
         
    	<div class="input">
            <input name="password" type="password">
            <label for="password">Введите пароль </label>
        </div>

    	<button class="btn btn-primary">Войти</button>
        
        {{!-- {{#if error}}
            <p>{{error}}</p>
        {{/if}} --}}
	</form>
</div>


<p>Если у Вас еще нет аккаунта, то  <a href="/auth/signup">зарегистрируйтесь</a>