body {
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
	font-family: "Arial";
}

.active {
    background: rgb(231, 120, 45);
}

.container {
	width: 500px;
	margin: auto;
	background-color: white;
	padding: 20px;
}

.hide {
	display: none;
}

.card {
	margin: auto;
}

/* Навбар */
.nav-wrapper {
	background-color: rgb(255, 127, 39);
	width: 100%;
	height: 100px;
	display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
}

.nav-wrapper .brand-logo {
	width: 100px;
	/* height: 100%; */
	
}

.img {

	height: 100%;
		
}

.menu {
	padding: 5px;
	
}


.menu a {
	color: white;
	text-decoration: none;
	padding: 40px 10px;
}

.menu  a:hover {
    background: rgb(231, 120, 45);
	/* height: 100%; */
}
/* Конец навбара*/

.brd {
	border: 1px solid black;
}

.authpage {
	border: 1px solid black;
}

.title {
	border: 1px solid black;
}
/* Страница постов */
.card {
	border: 1px solid black;
	margin-bottom: 15px;
	padding: 10px;
	
}

.card-top {
	display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
	border-bottom: 1px solid black;
}

.date {
	
}

.post-img img {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;

}

.card-center  {
	padding: 5px;
}

.comment {
	border: 1px solid black;
	/* width: 100%; */
	height: 100px;
	/* margin: 5px; */
	padding: 5px;
}

.brd {
	/* width: 100%; */
	height: 100px;
	margin-bottom: 5px;
	padding: 5px;

}

.card-bot {
	display: flex; 
    justify-content: space-between; 
    align-items: center; 
	/* margin: 5px; */
	padding : 5px;
}

.card-bot textarea {
	flex: 1;
	resize: none;
	margin-right: 5px;
	
}


.card-bot button {
	
}
/* Конец страницы постов */

/*Начало пользователей*/
.users_page {
	display: flex; 
    /* justify-content: space-between; 
    align-items: center;  */
    /* flex-direction: row; */
	flex-wrap: wrap;
}

.users_page .one_user {
	margin: 10px;
	/* width: 100px;
	height: 100px; */
}

.one_user .users_img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}
/*Кoнец пользователей*/

.logpage {
	border: 1px solid black;
}

.input {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: justify;
}

/* Страница создания поста */
.add {
	border: 1px solid black;
	padding: 5px;
}

.input-field {
	margin: 5px;
}

.input-field textarea {
	height: 100px;
	width: 100%;
}

#comment {
	height: 100px;
	width: 100%;
}

.validate {
	resize: none;
}
/* Конец страницы создания поста */

/*Начало страницы коментариев*/
.comment-post {
	border: 1px solid black;
	margin-top: 10px;

}

.btn-comment {
	margin-top: 10px;

}

.btn-comment textarea {
	resize: none;
}
/*Конец страницы комментариев
*/
/* Профиль */
.card-profile {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
  }
  
  .card-profile:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-container {
	padding: 2px 16px;
  }

  .profile {
	display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
	margin-bottom: 20px;
	/* border-bottom: 1px solid black; */

  }

  .profile_info {
	  width: 60%;
	  text-align: center;
  }

  .input-info textarea{
	resize: none;
  }
/* Конец профиля */

/* @media screen and (min-width:640px) {
    .nav-wrapper {
        display: block;
    }
} */