%textar {
	resize: none;
	// overflow:hidden;
}
%button {
	border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
}

$color: #e67e22;
$shadow: 0 4px 20px rgba(0,0,0,0.1);

html, body {
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
	font-family: "Calibri";
}



.hidden {
	display: none;
}


.container {
	width: 500px;
	margin: auto;
	// background-color: white;
	padding: 20px;
}

.btn {
	color: green;
	margin-top: 5px;
}

.btn.red {
	color: red;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
	background-color: $color;
	width: 100%;
	.wrapper {
		max-width: 800px;
		margin: auto;
		display: flex; 
	    justify-content: space-between; 
	    align-items: stretch; 
	    flex-wrap: wrap; 
	}
	.logo {
		display: flex;
		align-items: center;
		color: white;
		font-size: 30px;
		padding: 10px;
		span{
			font-size: 20px;
			margin-left: 5px ;
			opacity: 0.75;
			// vertical-align: middle;
			&:hover {
				opacity: 1;
			}
		}
	}
	.brand-logo {
		width: 60px;
		margin: 10px;
	}
	.menu {
		display: flex;
		align-items: stretch;
		// padding: 5px;
		a {
			font-size: 14px;
			display: flex;
			align-items: center;
			color: white;
			text-decoration: none;
			padding: 0px 10px;
			&:hover {
				background: $color;

			}
			i {
				margin-right: 5px;
			}
		}
	}
}
.postPage {
	.posts.card {
		padding-bottom: 10px;
		.likes {
			margin-left: 10px;
			text-align: center;
			button {
				border: none;
				background-color: white;
				font-size: 30px;
			}
		}
	}
}

.comment-post {
	margin-top: 2px;
	border: 1px solid $color;
	img {
		width: 50px; 
		height: 50px;
		object-fit: cover;
	}
}

.commentForm {
	padding: 15px;
	border-radius: 10px;
	background-color: white;
	box-shadow: $shadow;
	margin-bottom: 25px;
	form {
		display: flex;
		textarea {
			flex: 1;
			border: 2px solid $color;
			border-radius: 5px 0 0 5px;
			background: #F9F0DA;
			color: #9E9C9C;
		}		
		button {
			border: 2px solid $color;
			background: $color;
			border-radius: 0 5px 5px 0;
			cursor: pointer;
			color: white;
		}	
	}
	textarea {
		@extend %textar;
	}
}

.posts.card {
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: white;
	box-shadow: $shadow;
	
	.top {
		display: flex; 
    	justify-content: space-between; 
	    align-items: center; 
	    flex-wrap: wrap; 
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		padding: 15px;
		
		.info {
			flex: 1;
		    justify-content: space-between;
			text-align: top;
			padding-left: 10px;
			
			.date {
				opacity: 0.25;
			}
		}
		
		
		img {
			vertical-align: middle;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
		}
		button {
			background: rgba(0, 0, 0, 0.055);
			border: 1px solid rgba(0, 0, 0, 0.253);
			border-radius: 100%;
			width: 30px;
			height: 30px;
			cursor: pointer;
			&:focus {
				font-size: 11px;
			}
		}
	}
	
	.center {
		
		.name {
			padding: 10px;
			color: white;
			font-size: 20px;
			background: #222;
			text-align: center;
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		}
	}
	
	.content {
		
		margin-bottom: 5px;
		padding: 15px;
		overflow: hidden;
		text-overflow: ellipsis;
		a {
			color: blue;
		}
		img {
			margin: auto;
			margin-top: 15px;
			display: block;
			width: 50%;
			height: auto;
			border-radius: 5px;
			object-fit: cover;
		}
	}
	
	.bottom {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding: 15px;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		.likes {
			text-align: center;
			button {
				border: none;
				background-color: white;
				.fa-heart {
					&::before {
						font-size: 30px;
					}
				}
				span {
					font-size: 30px;
				}
			}
		}
		div {
			button {
				border: none;
				background-color: white;
			}
			&:hover .tooltip {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
			}
			.tooltip {
				max-width: 175px;
				position: absolute;
				display: none;
				border: 1px solid rgba(0, 0, 0, 0.1);
				background: white;
				border-radius: 10px;
				p{
					margin: 0;
    				padding: 0;
					img {
						width: 25px;
						height: 25px;
						border-radius: 100%;
						object-fit: cover;
						margin: 5px;

					}
				}
			}
		}
		textarea {
			// flex: 1;
			@extend %textar;
		}
	}
	.fa-heart {
		color: red;
		cursor: pointer;
	}
	
}



form.search {
	display: flex;
	box-sizing: border-box;	
	padding-bottom: 10px;
	input {
		flex: 1;
		padding: 10px 10px 10px 10px;
		border: 2px solid $color;
		border-radius: 5px 0 0 5px;
		outline: none;
		background: #F9F0DA;
		color: #9E9C9C;
	}
	button {
		color: white;
		padding: 10px;
		border: 2px solid $color;
		background: $color;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
	}	
}


.comment-post {
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: $shadow;
	
	.top {
		display: flex; 
    	justify-content: space-between; 
	    align-items: center; 
	    flex-wrap: wrap; 
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		padding: 15px;
		
		.info {
			flex: 1;
		    justify-content: space-between;
			text-align: top;
			padding-left: 10px;
			
			.date {
				opacity: 0.25;
			}
		}
		.buttons {
			button {
				background: rgba(0, 0, 0, 0.055);
				border: 1px solid rgba(0, 0, 0, 0.253);
				border-radius: 100%;
				width: 30px;
				height: 30px;
				cursor: pointer;
				&:focus {
					font-size: 11px;
				}
			}
		}
		
		img {
			vertical-align: middle;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	
	
	.content {
		margin-bottom: 5px;
		padding: 15px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.bot {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding : 5px;
		
		textarea {
			// flex: 1;
			@extend %textar;
		}
	}
}



.page.users {
	.user {
		display: flex; 
		justify-content: space-around; 
		align-items: center; 
	    margin-bottom: 15px;
	    border-radius: 10px;
	    background-color: white;
		box-shadow: $shadow;
		border-radius: 10px;
		.info {
			flex: 1;
			padding-left: 10px;
			margin: 5px;
			span {
				font-weight:bold;
			}
			p {
				margin: 5px 0 0 0;
			}
		}
		.img {
			padding-left: 10px;
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}
}


.page.post_create {
	background-color: white;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	form {
		.add {
			border: 1px solid rgba(41, 170, 24, 0.15);
			border-radius: 5px;
			background-color: green;
			color: white;
			cursor: pointer;
			border-bottom: 4px solid darken(green, 10%);
			font-family: "Snell Roundhand", cursive;
			&:focus {
				margin-top: 2px;
				background-color: green;
				color: #fff;
				border-bottom: 2px solid darken(green, 10%);
			}
		}
	}
	.name, textarea {
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.03);
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		resize: none;
	}	
	div {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding : 5px;
		.color {
			border-radius: 6px;
			border: 1px solid rgba(0, 0, 0, 0.25);
			cursor: pointer;
		}
	}
	.img {
		button {
			border: 1px solid rgba(0, 0, 0, 0);
			background-color: rgba(0, 0, 0, 0);
			cursor: pointer;
			&:focus {
				margin-top: 2px;
			}
		}
	}	
}

.page.profile {
	display: flex; 
   	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: $shadow;
	.card {
		// flex:1;
		position: relative;
		padding: 15px 0px 15px 15px;	
		&:hover .container {
			opacity: 1;
		}
		// &:hover {
		// 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		// }
		img {
			
			width: 170px;
			// height: 170px;
			display: block;
			// height: 200px;
			border-radius: 10px;
			object-fit: cover;
			
		}
		.container {
			opacity: 0;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			border-radius: 10px;
			box-sizing: border-box;
			cursor: pointer;
			display: flex;
			.my_btn {
				flex: 1;
			}
			// button {
			// 	margin: 5px;
			// 	margin-left: 10px;
			// 	padding: 0;
			// 	border-radius: 10px;
			// 	// text-align: center;
			// 	border: 1px solid rgba(0, 0, 0, 0.1);
			// 	&:hover {
			// 	  background-color: $color;
			// 	  color: #fff;
			// 	  border-bottom: 4px solid darken($color, 10%);
			// 	}
			// }
			button {
				border-radius: 10px;
				margin: 5px;
				margin-left: 10px;
				padding: 3px;
				cursor: pointer;
				background:rgba(255, 255, 255, 0);
				color:white;
				border:none;
				&:hover{
				background:#11eb23;
				color:#fff;
			  }
			}
			
		}
	}
	.info {
		// flex: 2;
		// display: flex;
		padding-left: 10px;
		justify-content: flex-start;
		flex-direction: column;
		h4 {
			font-size: 1.5rem;
		}
		p {
			text-align: center;
			vertical-align: middle;
			button {
				border-radius: 10px;
				// text-align: center;
				border: 1px solid rgba(0, 0, 0, 0.1);
				&:hover {
				  background-color: $color;
				  color: #fff;
				  border-bottom: 4px solid darken($color, 10%);
				}
				&:focus {
					margin-top: 2px;
					background-color: $color;
					color: #fff;
					border-bottom: 2px solid darken($color, 10%);
				}
			}
		}
		// width: 55%;
		// text-align: center;
		textarea {
		@extend %textar;
		}
	}

}

.page.edit-profile {
	// text-align: center;
	padding: 10px 50px 50px 50px;
	border-radius: 10px;
	background-color: white;
	box-shadow: $shadow;
	form {
		.input {
			margin-bottom: 15px;
		}
		input, textarea {
			border-radius: 5px;
			border: 1px solid black;
			// margin-bottom: 5px;
			resize: none;
			// margin-bottom: 10px;
		}
		button {
			margin-top: 20px;
			border-radius: 5px;
			border: 1px solid black;
			background-color: green;
			color: #fff;
			border-bottom: 4px solid darken(green, 10%);
			font-family: "Snell Roundhand", cursive;
			&:focus {
				margin-top: 22px;
				background-color: green;
				color: #fff;
				border-bottom: 2px solid darken(green, 10%);
			}
		}
	}
}

.page.logPage {
	text-align: center;
	padding: 0px 15px 15px 15px;
	border-radius: 10px;
	background-color: white;
	box-shadow: $shadow;
	form {
		.input {
			margin-bottom: 5px;
			padding: 5px;
		}
		input{
			border-radius: 5px;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
		button {
			border: 1px solid rgba(41, 170, 24, 0.15);
			border-radius: 5px;
			background-color: green;
			color: white;
			cursor: pointer;
			font-family: "Snell Roundhand", cursive;
		}
	}
	a {
		color: blue;
	}
}



.authPage {
	h1 {
		text-align: center;
	}	
	padding: 0px 15px 20px 15px;
	border-radius: 10px;
	background-color: white;
	box-shadow: $shadow;
	form {
		input {
			margin: 20px;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}
		
		
		button {
			margin-left: 150px;
			border: 1px solid rgba(41, 170, 24, 0.15);
			border-radius: 5px;
			background-color: green;
			color: white;
			cursor: pointer;
			font-family: "Snell Roundhand", cursive;
		}
	}

}

.page.post-edit {
	background-color: white;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	.upload {
		img {
			width:100px; 
			object-fit: cover;
			// height:100px;
		}
	}
	.name, textarea {
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.03);
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		resize: none;
	}	
	div {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding : 5px;
		.color {
			border-radius: 6px;
			border: 1px solid rgba(0, 0, 0, 0.25);
			cursor: pointer;
		}
	}
	button {
		border: 1px solid rgba(41, 170, 24, 0.15);
		border-radius: 5px;
		cursor: pointer;
		background-color: green;
		color: #fff;
		border-bottom: 4px solid darken(green, 10%);
		font-family: "Snell Roundhand", cursive;
		&:focus {
			margin-top:6px;
			background-color: green;
			color: #fff;
			border-bottom: 2px solid darken(green, 10%);
		}
	}
}

.page.comment-edit {
	background-color: white;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	textarea {
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.03);
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		resize: none;
		margin-bottom: 5px;
	}	
	button {
		border: 1px solid rgba(41, 170, 24, 0.15);
		border-radius: 5px;
		cursor: pointer;
		background-color: green;
		color: #fff;
		border-bottom: 4px solid darken(green, 10%);
		font-family: "Snell Roundhand", cursive;
		&:focus {
			margin-top: 3px;
			background-color: green;
			color: #fff;
			border-bottom: 2px solid darken(green, 10%);
		}
	}
}
.page .error {
	a {
		color:blue;
	}
	.name {
		font-weight:bold;
	}

}

@media screen and (max-width : 600px) {
	.container {
		width: initial;
		margin: auto;
		// background-color: white;
		padding: 20px;
		// font-size:1.5em;
	}
	.nav {
		display: flex; 
		justify-content: space-between; 
		align-items: stretch; 
		flex-wrap: wrap;
		font-size: 5.5vw;
		.wrapper {
			.logo {
				span {
					display: block;
					margin-left: 2px;
					opacity: 0.75;
				}
			}
			.menu {
				a {
					font-size: 5vw;
				}
			}
		}
		span {
			display: none;
		} 
	}
	.page.profile {
		.card {
			padding: 10px 5px 0px 10px;
			img {
				width: 80px;
				height: 80px;
				object-fit: cover;

			}
			.container {
				button {
					font-size: 10px;
					margin: 0 10px 0 0;
					padding: 0;
				}
			}
		}
		.info {
			padding-left: 5px;
			p {
				font-size: 10px;
			}
			button {
				font-size: 10px;
			}
		} 
	}
	.posts.card {
		.top {
			.info {
				.date {
					font-size: 10px;
				}
			}
		}
	} 
	.authPage {
		form {
			text-align: center;
			input {
				margin: 5px 10px 10px 10px;
			}
			button {
				margin-left: 0;
			}
		}
	}
	.page.edit-profile {
		form {
			input, textarea {
				margin-bottom: 2px;;
			}
			.input{
				display: flex;
				flex-wrap: wrap
			}
		}
	}
}