%textar {
	resize: none;
	// overflow:hidden;
}


html, body {
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
	font-family: "Arial";
}



.hidden {
	display: none;
}

.my_btn {
	background-color: green;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
    &::after {
	    content: attr(data-tooltip); /* Выводим текст */
	    position: absolute; /* Абсолютное позиционирование */
	    width: 300px; /* Ширина подсказки */
	    left: 0; top: 0; /* Положение подсказки */
	    background: #3989c9; /* Синий цвет фона */
	    color: #fff; /* Цвет текста */
	    padding: 0.5em; /* Поля вокруг текста */
	    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
	    pointer-events: none; /* Подсказка */
	    opacity: 0; /* Подсказка невидима */
	    transition: 1s; /* Время появления подсказки */
   	} 
   	&:hover::after {
	    opacity: 1; /* Показываем подсказку */
	    top: 1.5em; /* Положение подсказки */
   }
}

.container {
	width: 500px;
	margin: auto;
	// background-color: white;
	padding: 20px;
}

.btn {
	color: green;
	margin-top: 5px;
}

.btn.red {
	color: red;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
	background-color: rgb(255, 127, 39);
	width: 100%;
	display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
    flex-wrap: wrap; 
	.brand-logo {
		width: 60px;
		margin: 10px;
	}
	.menu {
		display: flex;
		align-items: stretch;
		// padding: 5px;
		a {
			display: flex;
			align-items: center;
			color: white;
			text-decoration: none;
			padding: 0px 10px;
			&:hover {
				background: rgb(231, 120, 45);

			}
			i {
				margin-right: 5px;
			}
		}
	}
}
.postPage {
	// border: 1px solid rgb(255, 127, 39);
	.top {
		display: flex; 
    	justify-content: space-between; 
	    align-items: center; 
	    flex-wrap: wrap; 
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		padding: 15px;
		.info {
			flex: 1;
		    justify-content: space-between;
			text-align: top;
			padding-left: 10px;
			
			.date {
				opacity: 0.25;
			}
		}
	}
	img {
		width: 50px; 
		height: 50px;
		object-fit: cover;
	}
}

.comment-post {
	margin-top: 2px;
	border: 1px solid rgb(255, 127, 39);
	img {
		width: 50px; 
		height: 50px;
		object-fit: cover;
	}
}

.btn.comment {
	textarea {
		@extend %textar;
	}
}

.posts.card {
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
	
	.top {
		display: flex; 
    	justify-content: space-between; 
	    align-items: center; 
	    flex-wrap: wrap; 
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		padding: 15px;
		
		.info {
			flex: 1;
		    justify-content: space-between;
			text-align: top;
			padding-left: 10px;
			
			.date {
				opacity: 0.25;
			}
		}
		
		img {
			vertical-align: middle;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	
	.center {

		.name {
			padding: 10px;
			color: white;
			font-size: 20px;
			background: #222;
			text-align: center;
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		}
	}
	
	.content {
		margin-bottom: 5px;
		padding: 15px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.bot {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding : 5px;
		
		textarea {
			// flex: 1;
			@extend %textar;
		}
	}
	.fa-heart {
		color: red;
		cursor: pointer;
	}
}

.postSearch {
	.search {
		box-sizing: border-box;	
		padding-bottom: 10px;
		// form {
		// 	position: relative;
		// 	width: 300px;
		// 	margin: 0 auto;
		input {
			width: 86%;
			padding: 10px 10px 10px 10px;
			border: 2px solid rgb(255, 127, 39);
			// border-left: 2px solid rgb(255, 127, 39);
			// border-top: 2px solid rgb(255, 127, 39);
			border-radius: 5px 0 0 5px;
			outline: none;
			background: #F9F0DA;
			color: #9E9C9C;
		}
		button {
		position: absolute; 
		padding: 10px;
		border: 2px solid rgb(255, 127, 39);
		// border-right: 2px solid rgb(255, 127, 39);
		// border-top: 2px solid rgb(255, 127, 39);
		background: rgb(255, 127, 39);
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		}	
	}
}

.comment-post {
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: rgb(236, 229, 229);
	box-shadow: 0 4px 15px rgba(0,0,0,0.2);
	
	.top {
		display: flex; 
    	justify-content: space-between; 
	    align-items: center; 
	    flex-wrap: wrap; 
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		padding: 15px;
		
		.info {
			flex: 1;
		    justify-content: space-between;
			text-align: top;
			padding-left: 10px;
			
			.date {
				opacity: 0.25;
			}
		}
		
		img {
			vertical-align: middle;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	
	
	.content {
		margin-bottom: 5px;
		padding: 15px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.bot {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding : 5px;
		
		textarea {
			// flex: 1;
			@extend %textar;
		}
	}
}



.page.users {
	.search {
		box-sizing: border-box;	
		padding-bottom: 10px;
		// form {
		// 	position: relative;
		// 	width: 300px;
		// 	margin: 0 auto;
		input {
			width: 86%;
			padding: 10px 10px 10px 10px;
			border: 2px solid rgb(255, 127, 39);
			// border-left: 2px solid rgb(255, 127, 39);
			// border-top: 2px solid rgb(255, 127, 39);
			border-radius: 5px 0 0 5px;
			outline: none;
			background: #F9F0DA;
			color: #9E9C9C;
		}
		button {
		position: absolute; 
		padding: 10px;
		border: 2px solid rgb(255, 127, 39);
		// border-right: 2px solid rgb(255, 127, 39);
		// border-top: 2px solid rgb(255, 127, 39);
		background: rgb(255, 127, 39);
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		}	
	}
	
	// display: flex; 
    // justify-content: space-between; 
    // align-items: center; 
	// border: 1px solid rgba(0, 0, 0, 0.15);

	// padding : 5px;
	.user {
		display: flex; 
		justify-content: space-around; 
		align-items: center; 
		border: 1px solid rgba(0, 0, 0, 0.15);
	    margin-bottom: 15px;
	    border-radius: 10px;
	    background-color: white;
		box-shadow: 0 4px 15px rgba(0,0,0,0.2);
		border-radius: 10px;
		.info {
			flex: 1;
			padding-left: 10px;
			// display: flex; 
			// justify-content: space-around; 
			// align-items: center; 
		}
		.img {
			padding-left: 10px;
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}
}


.page.post_create {
	background-color: white;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	.name, textarea {
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.03);
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		resize: none;
	}	
	div {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding : 5px;
		.color-text, .color-fon {
			border-radius: 6px;
			border: 1px solid rgba(0, 0, 0, 0.25);
		}
	}
	
}

.page.profile {
	display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 10px 4px 8px 10px rgba(0,0,0,0.2);
	.card {
		// box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		// transition: 0.3s;
		padding: 10px;	
		width: 35%;
		// &:hover {
		// 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		// }
		img {
			width: 100%;
		}
		.container {
			border-radius: 10px;
			padding: 2px 10px;
			width: auto;
		}
	}
	.info {
		width: 55%;
		 text-align: center;
		textarea {
		@extend %textar;
		}
	}

}

.page.logpage {
	border: 1px solid rgb(255, 127, 39);
	.input {
		padding: 5px;
	}
}

.authpage {
	border: 1px solid rgb(255, 127, 39);
	.input {
		padding: 5px;
	}
}

.page.post-edit {
	background-color: white;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	.name, textarea {
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.03);
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		resize: none;
	}	
	div {
		display: flex; 
	    justify-content: space-between; 
	    align-items: center; 
		padding : 5px;
		.color-text, .color-fon {
			border-radius: 6px;
			border: 1px solid rgba(0, 0, 0, 0.25);
		}
	}
}

.page.comment-edit {
	background-color: white;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	textarea {
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.03);
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		resize: none;
	}	
}

@media screen and (max-width : 600px) {
	.container {
		width: initial;
		margin: auto;
		// background-color: white;
		padding: 20px;
		// font-size:1.5em;
	}
	.nav {
		background-color: rgb(255, 127, 39);
		// width: 512px;
		display: flex; 
		justify-content: space-between; 
		align-items: stretch; 
		flex-wrap: wrap;
		font-size: 5.5vw;
		span {
			display: none;
		} 
	}
}